            @import "tailwindcss";
            @layer utilities {
                .text-shadow-glow {
                    text-shadow: 0 4px 6px rgba(236, 72, 153, 0.6), 0 8px 12px rgba(236, 72, 153, 0.3);
                }
            }
            
            .poppins {
                font-family: 'Poppins', sans-serif;
            }
            
            .nasa {
                font-family: Nasalization;
            }
            
            body {
                font-family: 'Montserrat', sans-serif;
            }